html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

path {
	fill: #ddc;
}

.ring {
	fill: none;
	stroke: #c7141a;
}

.phaseone {
	opacity: 0;
	r: 1;
	stroke-width: 9;
}

.phasetwo {
	opacity: 1;
	r: 2;
	stroke-width: 8;
}

.phasetree {
	opacity: 0;
	r: 40;
	stroke: brown;
	stroke-width: 0;
}

#radar {
	x1: 0;
	x2: 0;
	y2: 0;
	stroke: #cdd;
	stroke-width: 4;
}