<html>
	<head>
		<title>${data.title}</title>
		<link rel="stylesheet" type="text/css" href="/style/${data.layout}/v${data.version}"/>
	</head>
	<body>
		<nav>&nbsp;</nav>
		<header>&nbsp;</header>
		<aside id="left-bar">
			sidebar
		</aside>
		<section id="dashboard">
			<section id="top-row">
				<div
					for="widget in data.topRowWidgets; status-var=loop"
					class="child${loop.getIndex()+1}">
					<iframe
						sandbox="allow-scripts allow-same-origin"
						src="/widget/counter/basicCounter/${widget}">
					</iframe>
				</div>
			</section>
			<section id="bottom-row">
				<div
					for="widget in data.bottomRowWidget; status-var=loop"
					class="child${loop.getIndex()+1}">
					<iframe
						sandbox="allow-scripts allow-same-origin"
						src="/widget/table/basicTable/${widget}">
					</iframe>
				</div>
			</section>
		</section>
	</body>
</html>