<!DOCTYPE html>
<html class="widgetBorder">
	<head>
		<meta charset="UTF-8">
		<title>Exploding Map</title>
		<link rel="stylesheet" type="text/css" href="/widgets/${data.format}/${data.name}/css"/>
	</head>
	<body id="basicMap" class="widgetBorder">
		<div id="mapContainer" class="widgetBorder"></div>
		<script src="/widgets/${data.format}/${data.name}/js"></script>
	</body>
</html>