<!DOCTYPE html5>
<html>
	<head>
		<title>Landing</title>
		<!--<link rel="stylesheet" href="/assets/css">-->
	</head>
	<body>
		<section id="activePage"></section>
		<script type="text/javascript" src="/assets/js"></script>
	</body>
</html>