body {
	background-color: #F4FFF6;
}

nav {
	background-color: #17AC38;
	z-index: 2;
}

header {
	background-color: #F4FFF6;
	z-index: 2;	
}

/*div {
	background-color: #4BFF73;
}*/

#left-bar {
	background-color: #4BFF73;
	z-index: 1;
}