html {
	@include fill-parent();
	overflow: hidden;
}

body {
	@include outer-container;
	@include margin(0 15% 0 15%);

	nav {
		@include size(100% 5%);
	}

	header {
		@include size(100% 5%);
	}

	#left-bar {
		@include span-columns(2);
		height: 89.25%;
	}

	#dashboard {
		@include span-columns(10);
		@include padding(0);

		section {
			@include padding(0 0 0.5% 0);
			@include margin(0);
			overflow: hidden;
		}

		#top-row {
			div {
				height: 28%;
			}

			.child1 {
				@include span-columns(3 of 10);
			}

			.child2 {
				@include span-columns(4 of 10);
			}

			.child3 {
				@include span-columns(3 of 10);
			}
		}

		#bottom-row {
			div {
				height: 60.5%;
			}

			.child1 {
				@include span-columns(6 of 10);
			}

			.child2 {
				@include span-columns(4 of 10);
			}
		}

		iframe {
			@include size(100%);
			@include padding(0);
			@include margin(0);
			border: 0;
			overflow: hidden;
		}
	}

}