<html>
	<head>
		<title>${data.title}</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="/style/widget/${data.format}/${data.type}"/>
	</head>
	<body>
		<section id="body">
			<section id="break"></section>
			<section id="header">${data.name.toUpperCase()}</section>
			<section id="data-case">
				<div id="data">1050</div>
				<span id="units">tickets<span>
			</section>
		</section>
		<script
			type="text/javascript"
			src="/script/widget/${data.format}/${data.type}">
		</script>
	</body>
</html>