<!DOCTYPE html>
<html class="widgetBorder">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style"/>
	</head>
	<body id="basicMap" class="widgetBorder">
		<div id="mapContainer" class="widgetBorder"></div>
		<script src="/script"></script>
	</body>
</html>