<div class="box" w-bind>
	<div class="box header">Header</div>
	<div class="box data">
		<div class="box data count">Count</div>
		<div class="box data label">Sublabel</div>
	</div>
	<div class="box footer">Footer</div>
</div>